.Rproj.user
.Rhistory
.RData
.Ruserdata
DF_SEED1234_0p1
DF_SEED1234_0p01
midterm_report.tex
midterm_report.synctex.gz
midterm_report.log
midterm_report-concordance.tex
DF_1p00
DF_M2000_U55000_S1234
DF_M17700_U55000_S1234
